{% extends "base/base.html" %}
{% load static %}

{% block page_name %}Tous les Moutons{% endblock page_name %}
{% block link %}
    
        <link href="{% static 'assets/plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'assets/plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
{% endblock link %}
{% block page_title %}Mouton{% endblock page_title %}
{% block body %}
{% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
            <div class="alert alert-success" role="alert">{{message}}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
            
        {% endif %}
    {% endfor %}
    
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Tous les moutons:</h4>
                                </div>
                                <div class="panel-body">
                                    <a href="{% url 'ajouter_mouton' %}"  class="btn btn-success m-b-sm">Ajouter mouton</a>
                                   <div class="table-responsive">
                                    <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>Num mouton</th>
                                                <th>Photo</th>
                                                <th>Categorie</th>
                                                <th>Groupe</th>
                                                <th>Etat</th>
                                                <th>Couleur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for mouton in moutons %}
                                            	
                                            <tr>
                                                <td>{{mouton.pk}}</td>
                                                <td><img src="{{mouton.photo.url}}" width="50" height="50"></td>
                                                <td>{{mouton.categorie}}</td>
                                                <td>{{mouton.groupe}}</td>
                                                <td>{{mouton.etat}}</td>
                                                <td><div style="background-color: {{mouton.couleur}}; width: 50px; height: 50px;"></div></td>
                                                <td>
                                                    <a href="{% url 'modifier_mouton' pk=mouton.pk %}"><i class="fa fa-pencil-square icon_edit"></i></a>
                                                    <a href="{% url 'supprimer_mouton' pk=mouton.pk %}" ><i class="fa fa-trash icon_delete"></i></a></td>
                                            </tr>
										    {% endfor %}
                                        </tbody>
                                       </table>  
                                    </div>
                                </div>
                            </div>
{% endblock body %}

{% block script %}
        <script src="{% static 'assets/plugins/datatables/js/jquery.datatables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

        <script src="{% static 'assets/js/pages/table-data.js' %}"></script>
{% endblock script %}